{% extends "birdsong/mail/base_email.html" %}

{% block email_body %}
    <mj-section>
        <mj-column>
            <mj-image
                src="https://strafrecht-online.org/media/images/Banner_Rabe_Logo.original.png"/>
            <mj-text align="center" font-weight="700" padding="0" font-size="16px">
                {% block email_name %}{% endblock %}
                <h2>Korrektur-Anfrage</h2>
            </mj-text>
            <mj-divider border-width="2px" border-color="#616161"></mj-divider>
        </mj-column>
    </mj-section>
    <mj-section>
        <mj-column>
            <mj-text>
                <h3>Falltraining:
                    {{ case }}</h3>
                <p>Link:
                    {{ site.root_url }}/falltraining/show/{{ contact.id }}</p>
                <p>Absender:
                    {{ email }}</p>

                {% for item in questions_and_answers %}
                    <h3>{{ item.question }}</h3>
                    <p>{{ item.answer|safe }}</p>
                {% endfor %}
            </mj-text>
        </mj-column >
    </mj-section>
    <mj-section>
        <mj-column >
            <mj-divider border-width="2px" border-color="#616161"></mj-divider>
            <mj-text>
                <p style="line-height: 1em;">Roland Hefendehl & Team</p>
                <p style="line-height: 1em;">Institut f&uuml;r Kriminologie und Wirtschaftsstrafrecht</p>
                <p style="line-height: 1em;">Tel.: +49 761 203 2210</p>
                <p style="line-height: 1em;">Mail:
                    <a href="mailto:hefendehl@jura.uni-freiburg.de">hefendehl@jura.uni-freiburg.de</a>
                </p>
                <p style="line-height: 1em;">Netz:
                    <a href="https://strafrecht-online.org">strafrecht-online.org</a>
                </p>
            </mj-text>
        </mj-column>
    </mj-section>
{% endblock email_body %}